
.header-container {
  border-bottom: solid black 2px;
}

.header-control {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 5px;
  border: solid black 2px;
  color: black;
  text-decoration: none;
  font-size: 1.5em;

  &:hover {
    text-decoration: none;
    border-color: #333;
  }
}

.header-brand {
  float: left;
}

.header-menu {
  float: right;
}

.header-banner {
  text-align: center;

  h1 {
    margin: 20px 0;
    padding: 10px;
    font-size: 3em;
    line-height: 1em;
  }
}
