
.menu {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 2px black;
  text-align: center;
}

.menu-items {
  width: 100%;
  margin: 0 0 30px;;
  padding: 0;
  list-style: none;
  font-size: 1.5em;

  @include clearfix;
}

.menu-item {
  margin: 0;
  padding: 3px;
  width: 100%;
  float: left;
  clear: both;
  text-align: center;
}

.menu-close-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;

  &:after {
    content: "\00d7"; /* use the hex value here... */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 40px;
    color: black;
    line-height: 31px;
    text-align: center;
  }

  &:hover {
    background-color: lightgrey;
  }
}

