
.menu {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 2px black;
  text-align: center;
}

.menu-items {
  width: 100%;
  max-width: 350px;
  margin: 0 auto 30px;;
  padding: 0;
  list-style: none;
  font-size: 1.5em;

  @include clearfix;
}

.menu-item {
  margin: 0;
  padding: 3px;
  width: 100%;
  float: left;
  clear: both;
  text-align: center;
}

.menu-close-button {
  position: absolute;
  top: 0;
  right: 0;
}

