/* General styles */
/*Main*/
html {
  font-size: 100%; }

a {
  color: #262626;
  text-decoration: none !important; }

a > span {
  cursor: pointer !important;
  /* Trying to address a reactJS bug */ }

strong > span {
  font-weight: inherit;
  font-size: inherit;
  color: inherit; }

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a {
  font-weight: 300 !important;
  font-style: normal;
  font-stretch: normal; }

* {
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 3em;
  /* 70/16 */
  margin: 20px 0; }

.masthead h1 {
  font-size: 2.2em;
  /* 42/16 */ }
  @media screen and (min-width: 768px) {
    .masthead h1 {
      font-size: 3em;
      /* 70/16 */ } }
  @media screen and (min-width: 992px) {
    .masthead h1 {
      font-size: 5em;
      /* 70/16 */ } }

h2 {
  margin-top: 10px;
  margin-bottom: 18px;
  font-size: 2.625em;
  /* 42/16 */ }

.other-articles h2 {
  margin-bottom: 20px; }

.content-section h2 {
  margin-top: 61px;
  margin-bottom: 64px; }

h3, .h3 {
  font-size: 1.875em;
  /* 30/16 */
  margin-bottom: 17px;
  line-height: 1.2em; }

h4 {
  font-size: 1.625em;
  /* 26/16 */
  margin-top: 40px;
  margin-bottom: 20px; }

h5 {
  font-size: 1.25em;
  /* 20/16 */
  margin-top: 20px; }

h6 {
  font-size: 1em; }

p, span, li {
  font-size: 1rem;
  line-height: 1.8rem;
  /* 26/16 */ }

p strong {
  font-weight: normal; }

p {
  margin-bottom: 20px; }

.color-white {
  color: white; }

.color-offwhite {
  color: #f6f5ef; }

.color-grey3 {
  color: #cccccc; }

/**
 * Margin and Padding generator. Returns values in increments of 5
 */
.ptb-5 {
  padding-top: 5px;
  padding-bottom: 5px; }

.pt-5 {
  padding-top: 5px; }

.pb-5 {
  padding-bottom: 5px; }

.mtb-5 {
  margin-top: 5px;
  margin-bottom: 5px; }

.mt-5 {
  margin-top: 5px; }

.mb-5 {
  margin-bottom: 5px; }

@media (min-width: 768px) {
  .ptb-sm-5 {
    padding-top: 5px;
    padding-bottom: 5px; }
  .pt-sm-5 {
    padding-top: 5px; }
  .pb-sm-5 {
    padding-bottom: 5px; }
  .mtb-sm-5 {
    margin-top: 5px;
    margin-bottom: 5px; }
  .mt-sm-5 {
    margin-top: 5px; }
  .mb-sm-5 {
    margin-bottom: 5px; } }

@media (min-width: 992px) {
  .ptb-md-5 {
    padding-top: 5px;
    padding-bottom: 5px; }
  .pt-md-5 {
    padding-top: 5px; }
  .pb-md-5 {
    padding-bottom: 5px; }
  .mtb-md-5 {
    margin-top: 5px;
    margin-bottom: 5px; }
  .mt-md-5 {
    margin-top: 5px; }
  .mb-md-5 {
    margin-bottom: 5px; } }

@media (min-width: 1200px) {
  .ptb-lg-5 {
    padding-top: 5px;
    padding-bottom: 5px; }
  .pt-lg-5 {
    padding-top: 5px; }
  .pb-lg-5 {
    padding-bottom: 5px; }
  .mtb-lg-5 {
    margin-top: 5px;
    margin-bottom: 5px; }
  .mt-lg-5 {
    margin-top: 5px; }
  .mb-lg-5 {
    margin-bottom: 5px; } }

.ptb-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

.pt-10 {
  padding-top: 10px; }

.pb-10 {
  padding-bottom: 10px; }

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px; }

.mt-10 {
  margin-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .ptb-sm-10 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .pt-sm-10 {
    padding-top: 10px; }
  .pb-sm-10 {
    padding-bottom: 10px; }
  .mtb-sm-10 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .mt-sm-10 {
    margin-top: 10px; }
  .mb-sm-10 {
    margin-bottom: 10px; } }

@media (min-width: 992px) {
  .ptb-md-10 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .pt-md-10 {
    padding-top: 10px; }
  .pb-md-10 {
    padding-bottom: 10px; }
  .mtb-md-10 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .mt-md-10 {
    margin-top: 10px; }
  .mb-md-10 {
    margin-bottom: 10px; } }

@media (min-width: 1200px) {
  .ptb-lg-10 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .pt-lg-10 {
    padding-top: 10px; }
  .pb-lg-10 {
    padding-bottom: 10px; }
  .mtb-lg-10 {
    margin-top: 10px;
    margin-bottom: 10px; }
  .mt-lg-10 {
    margin-top: 10px; }
  .mb-lg-10 {
    margin-bottom: 10px; } }

.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px; }

.pt-15 {
  padding-top: 15px; }

.pb-15 {
  padding-bottom: 15px; }

.mtb-15 {
  margin-top: 15px;
  margin-bottom: 15px; }

.mt-15 {
  margin-top: 15px; }

.mb-15 {
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .ptb-sm-15 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .pt-sm-15 {
    padding-top: 15px; }
  .pb-sm-15 {
    padding-bottom: 15px; }
  .mtb-sm-15 {
    margin-top: 15px;
    margin-bottom: 15px; }
  .mt-sm-15 {
    margin-top: 15px; }
  .mb-sm-15 {
    margin-bottom: 15px; } }

@media (min-width: 992px) {
  .ptb-md-15 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .pt-md-15 {
    padding-top: 15px; }
  .pb-md-15 {
    padding-bottom: 15px; }
  .mtb-md-15 {
    margin-top: 15px;
    margin-bottom: 15px; }
  .mt-md-15 {
    margin-top: 15px; }
  .mb-md-15 {
    margin-bottom: 15px; } }

@media (min-width: 1200px) {
  .ptb-lg-15 {
    padding-top: 15px;
    padding-bottom: 15px; }
  .pt-lg-15 {
    padding-top: 15px; }
  .pb-lg-15 {
    padding-bottom: 15px; }
  .mtb-lg-15 {
    margin-top: 15px;
    margin-bottom: 15px; }
  .mt-lg-15 {
    margin-top: 15px; }
  .mb-lg-15 {
    margin-bottom: 15px; } }

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px; }

.pt-20 {
  padding-top: 20px; }

.pb-20 {
  padding-bottom: 20px; }

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.mt-20 {
  margin-top: 20px; }

.mb-20 {
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .ptb-sm-20 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .pt-sm-20 {
    padding-top: 20px; }
  .pb-sm-20 {
    padding-bottom: 20px; }
  .mtb-sm-20 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .mt-sm-20 {
    margin-top: 20px; }
  .mb-sm-20 {
    margin-bottom: 20px; } }

@media (min-width: 992px) {
  .ptb-md-20 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .pt-md-20 {
    padding-top: 20px; }
  .pb-md-20 {
    padding-bottom: 20px; }
  .mtb-md-20 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .mt-md-20 {
    margin-top: 20px; }
  .mb-md-20 {
    margin-bottom: 20px; } }

@media (min-width: 1200px) {
  .ptb-lg-20 {
    padding-top: 20px;
    padding-bottom: 20px; }
  .pt-lg-20 {
    padding-top: 20px; }
  .pb-lg-20 {
    padding-bottom: 20px; }
  .mtb-lg-20 {
    margin-top: 20px;
    margin-bottom: 20px; }
  .mt-lg-20 {
    margin-top: 20px; }
  .mb-lg-20 {
    margin-bottom: 20px; } }

.ptb-25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.pt-25 {
  padding-top: 25px; }

.pb-25 {
  padding-bottom: 25px; }

.mtb-25 {
  margin-top: 25px;
  margin-bottom: 25px; }

.mt-25 {
  margin-top: 25px; }

.mb-25 {
  margin-bottom: 25px; }

@media (min-width: 768px) {
  .ptb-sm-25 {
    padding-top: 25px;
    padding-bottom: 25px; }
  .pt-sm-25 {
    padding-top: 25px; }
  .pb-sm-25 {
    padding-bottom: 25px; }
  .mtb-sm-25 {
    margin-top: 25px;
    margin-bottom: 25px; }
  .mt-sm-25 {
    margin-top: 25px; }
  .mb-sm-25 {
    margin-bottom: 25px; } }

@media (min-width: 992px) {
  .ptb-md-25 {
    padding-top: 25px;
    padding-bottom: 25px; }
  .pt-md-25 {
    padding-top: 25px; }
  .pb-md-25 {
    padding-bottom: 25px; }
  .mtb-md-25 {
    margin-top: 25px;
    margin-bottom: 25px; }
  .mt-md-25 {
    margin-top: 25px; }
  .mb-md-25 {
    margin-bottom: 25px; } }

@media (min-width: 1200px) {
  .ptb-lg-25 {
    padding-top: 25px;
    padding-bottom: 25px; }
  .pt-lg-25 {
    padding-top: 25px; }
  .pb-lg-25 {
    padding-bottom: 25px; }
  .mtb-lg-25 {
    margin-top: 25px;
    margin-bottom: 25px; }
  .mt-lg-25 {
    margin-top: 25px; }
  .mb-lg-25 {
    margin-bottom: 25px; } }

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px; }

.pt-30 {
  padding-top: 30px; }

.pb-30 {
  padding-bottom: 30px; }

.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

@media (min-width: 768px) {
  .ptb-sm-30 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .pt-sm-30 {
    padding-top: 30px; }
  .pb-sm-30 {
    padding-bottom: 30px; }
  .mtb-sm-30 {
    margin-top: 30px;
    margin-bottom: 30px; }
  .mt-sm-30 {
    margin-top: 30px; }
  .mb-sm-30 {
    margin-bottom: 30px; } }

@media (min-width: 992px) {
  .ptb-md-30 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .pt-md-30 {
    padding-top: 30px; }
  .pb-md-30 {
    padding-bottom: 30px; }
  .mtb-md-30 {
    margin-top: 30px;
    margin-bottom: 30px; }
  .mt-md-30 {
    margin-top: 30px; }
  .mb-md-30 {
    margin-bottom: 30px; } }

@media (min-width: 1200px) {
  .ptb-lg-30 {
    padding-top: 30px;
    padding-bottom: 30px; }
  .pt-lg-30 {
    padding-top: 30px; }
  .pb-lg-30 {
    padding-bottom: 30px; }
  .mtb-lg-30 {
    margin-top: 30px;
    margin-bottom: 30px; }
  .mt-lg-30 {
    margin-top: 30px; }
  .mb-lg-30 {
    margin-bottom: 30px; } }

.ptb-35 {
  padding-top: 35px;
  padding-bottom: 35px; }

.pt-35 {
  padding-top: 35px; }

.pb-35 {
  padding-bottom: 35px; }

.mtb-35 {
  margin-top: 35px;
  margin-bottom: 35px; }

.mt-35 {
  margin-top: 35px; }

.mb-35 {
  margin-bottom: 35px; }

@media (min-width: 768px) {
  .ptb-sm-35 {
    padding-top: 35px;
    padding-bottom: 35px; }
  .pt-sm-35 {
    padding-top: 35px; }
  .pb-sm-35 {
    padding-bottom: 35px; }
  .mtb-sm-35 {
    margin-top: 35px;
    margin-bottom: 35px; }
  .mt-sm-35 {
    margin-top: 35px; }
  .mb-sm-35 {
    margin-bottom: 35px; } }

@media (min-width: 992px) {
  .ptb-md-35 {
    padding-top: 35px;
    padding-bottom: 35px; }
  .pt-md-35 {
    padding-top: 35px; }
  .pb-md-35 {
    padding-bottom: 35px; }
  .mtb-md-35 {
    margin-top: 35px;
    margin-bottom: 35px; }
  .mt-md-35 {
    margin-top: 35px; }
  .mb-md-35 {
    margin-bottom: 35px; } }

@media (min-width: 1200px) {
  .ptb-lg-35 {
    padding-top: 35px;
    padding-bottom: 35px; }
  .pt-lg-35 {
    padding-top: 35px; }
  .pb-lg-35 {
    padding-bottom: 35px; }
  .mtb-lg-35 {
    margin-top: 35px;
    margin-bottom: 35px; }
  .mt-lg-35 {
    margin-top: 35px; }
  .mb-lg-35 {
    margin-bottom: 35px; } }

.ptb-40 {
  padding-top: 40px;
  padding-bottom: 40px; }

.pt-40 {
  padding-top: 40px; }

.pb-40 {
  padding-bottom: 40px; }

.mtb-40 {
  margin-top: 40px;
  margin-bottom: 40px; }

.mt-40 {
  margin-top: 40px; }

.mb-40 {
  margin-bottom: 40px; }

@media (min-width: 768px) {
  .ptb-sm-40 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .pt-sm-40 {
    padding-top: 40px; }
  .pb-sm-40 {
    padding-bottom: 40px; }
  .mtb-sm-40 {
    margin-top: 40px;
    margin-bottom: 40px; }
  .mt-sm-40 {
    margin-top: 40px; }
  .mb-sm-40 {
    margin-bottom: 40px; } }

@media (min-width: 992px) {
  .ptb-md-40 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .pt-md-40 {
    padding-top: 40px; }
  .pb-md-40 {
    padding-bottom: 40px; }
  .mtb-md-40 {
    margin-top: 40px;
    margin-bottom: 40px; }
  .mt-md-40 {
    margin-top: 40px; }
  .mb-md-40 {
    margin-bottom: 40px; } }

@media (min-width: 1200px) {
  .ptb-lg-40 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .pt-lg-40 {
    padding-top: 40px; }
  .pb-lg-40 {
    padding-bottom: 40px; }
  .mtb-lg-40 {
    margin-top: 40px;
    margin-bottom: 40px; }
  .mt-lg-40 {
    margin-top: 40px; }
  .mb-lg-40 {
    margin-bottom: 40px; } }

.ptb-45 {
  padding-top: 45px;
  padding-bottom: 45px; }

.pt-45 {
  padding-top: 45px; }

.pb-45 {
  padding-bottom: 45px; }

.mtb-45 {
  margin-top: 45px;
  margin-bottom: 45px; }

.mt-45 {
  margin-top: 45px; }

.mb-45 {
  margin-bottom: 45px; }

@media (min-width: 768px) {
  .ptb-sm-45 {
    padding-top: 45px;
    padding-bottom: 45px; }
  .pt-sm-45 {
    padding-top: 45px; }
  .pb-sm-45 {
    padding-bottom: 45px; }
  .mtb-sm-45 {
    margin-top: 45px;
    margin-bottom: 45px; }
  .mt-sm-45 {
    margin-top: 45px; }
  .mb-sm-45 {
    margin-bottom: 45px; } }

@media (min-width: 992px) {
  .ptb-md-45 {
    padding-top: 45px;
    padding-bottom: 45px; }
  .pt-md-45 {
    padding-top: 45px; }
  .pb-md-45 {
    padding-bottom: 45px; }
  .mtb-md-45 {
    margin-top: 45px;
    margin-bottom: 45px; }
  .mt-md-45 {
    margin-top: 45px; }
  .mb-md-45 {
    margin-bottom: 45px; } }

@media (min-width: 1200px) {
  .ptb-lg-45 {
    padding-top: 45px;
    padding-bottom: 45px; }
  .pt-lg-45 {
    padding-top: 45px; }
  .pb-lg-45 {
    padding-bottom: 45px; }
  .mtb-lg-45 {
    margin-top: 45px;
    margin-bottom: 45px; }
  .mt-lg-45 {
    margin-top: 45px; }
  .mb-lg-45 {
    margin-bottom: 45px; } }

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px; }

.pt-50 {
  padding-top: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px; }

.mt-50 {
  margin-top: 50px; }

.mb-50 {
  margin-bottom: 50px; }

@media (min-width: 768px) {
  .ptb-sm-50 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .pt-sm-50 {
    padding-top: 50px; }
  .pb-sm-50 {
    padding-bottom: 50px; }
  .mtb-sm-50 {
    margin-top: 50px;
    margin-bottom: 50px; }
  .mt-sm-50 {
    margin-top: 50px; }
  .mb-sm-50 {
    margin-bottom: 50px; } }

@media (min-width: 992px) {
  .ptb-md-50 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .pt-md-50 {
    padding-top: 50px; }
  .pb-md-50 {
    padding-bottom: 50px; }
  .mtb-md-50 {
    margin-top: 50px;
    margin-bottom: 50px; }
  .mt-md-50 {
    margin-top: 50px; }
  .mb-md-50 {
    margin-bottom: 50px; } }

@media (min-width: 1200px) {
  .ptb-lg-50 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .pt-lg-50 {
    padding-top: 50px; }
  .pb-lg-50 {
    padding-bottom: 50px; }
  .mtb-lg-50 {
    margin-top: 50px;
    margin-bottom: 50px; }
  .mt-lg-50 {
    margin-top: 50px; }
  .mb-lg-50 {
    margin-bottom: 50px; } }

.ptb-55 {
  padding-top: 55px;
  padding-bottom: 55px; }

.pt-55 {
  padding-top: 55px; }

.pb-55 {
  padding-bottom: 55px; }

.mtb-55 {
  margin-top: 55px;
  margin-bottom: 55px; }

.mt-55 {
  margin-top: 55px; }

.mb-55 {
  margin-bottom: 55px; }

@media (min-width: 768px) {
  .ptb-sm-55 {
    padding-top: 55px;
    padding-bottom: 55px; }
  .pt-sm-55 {
    padding-top: 55px; }
  .pb-sm-55 {
    padding-bottom: 55px; }
  .mtb-sm-55 {
    margin-top: 55px;
    margin-bottom: 55px; }
  .mt-sm-55 {
    margin-top: 55px; }
  .mb-sm-55 {
    margin-bottom: 55px; } }

@media (min-width: 992px) {
  .ptb-md-55 {
    padding-top: 55px;
    padding-bottom: 55px; }
  .pt-md-55 {
    padding-top: 55px; }
  .pb-md-55 {
    padding-bottom: 55px; }
  .mtb-md-55 {
    margin-top: 55px;
    margin-bottom: 55px; }
  .mt-md-55 {
    margin-top: 55px; }
  .mb-md-55 {
    margin-bottom: 55px; } }

@media (min-width: 1200px) {
  .ptb-lg-55 {
    padding-top: 55px;
    padding-bottom: 55px; }
  .pt-lg-55 {
    padding-top: 55px; }
  .pb-lg-55 {
    padding-bottom: 55px; }
  .mtb-lg-55 {
    margin-top: 55px;
    margin-bottom: 55px; }
  .mt-lg-55 {
    margin-top: 55px; }
  .mb-lg-55 {
    margin-bottom: 55px; } }

.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px; }

.pt-60 {
  padding-top: 60px; }

.pb-60 {
  padding-bottom: 60px; }

.mtb-60 {
  margin-top: 60px;
  margin-bottom: 60px; }

.mt-60 {
  margin-top: 60px; }

.mb-60 {
  margin-bottom: 60px; }

@media (min-width: 768px) {
  .ptb-sm-60 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .pt-sm-60 {
    padding-top: 60px; }
  .pb-sm-60 {
    padding-bottom: 60px; }
  .mtb-sm-60 {
    margin-top: 60px;
    margin-bottom: 60px; }
  .mt-sm-60 {
    margin-top: 60px; }
  .mb-sm-60 {
    margin-bottom: 60px; } }

@media (min-width: 992px) {
  .ptb-md-60 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .pt-md-60 {
    padding-top: 60px; }
  .pb-md-60 {
    padding-bottom: 60px; }
  .mtb-md-60 {
    margin-top: 60px;
    margin-bottom: 60px; }
  .mt-md-60 {
    margin-top: 60px; }
  .mb-md-60 {
    margin-bottom: 60px; } }

@media (min-width: 1200px) {
  .ptb-lg-60 {
    padding-top: 60px;
    padding-bottom: 60px; }
  .pt-lg-60 {
    padding-top: 60px; }
  .pb-lg-60 {
    padding-bottom: 60px; }
  .mtb-lg-60 {
    margin-top: 60px;
    margin-bottom: 60px; }
  .mt-lg-60 {
    margin-top: 60px; }
  .mb-lg-60 {
    margin-bottom: 60px; } }

.ptb-65 {
  padding-top: 65px;
  padding-bottom: 65px; }

.pt-65 {
  padding-top: 65px; }

.pb-65 {
  padding-bottom: 65px; }

.mtb-65 {
  margin-top: 65px;
  margin-bottom: 65px; }

.mt-65 {
  margin-top: 65px; }

.mb-65 {
  margin-bottom: 65px; }

@media (min-width: 768px) {
  .ptb-sm-65 {
    padding-top: 65px;
    padding-bottom: 65px; }
  .pt-sm-65 {
    padding-top: 65px; }
  .pb-sm-65 {
    padding-bottom: 65px; }
  .mtb-sm-65 {
    margin-top: 65px;
    margin-bottom: 65px; }
  .mt-sm-65 {
    margin-top: 65px; }
  .mb-sm-65 {
    margin-bottom: 65px; } }

@media (min-width: 992px) {
  .ptb-md-65 {
    padding-top: 65px;
    padding-bottom: 65px; }
  .pt-md-65 {
    padding-top: 65px; }
  .pb-md-65 {
    padding-bottom: 65px; }
  .mtb-md-65 {
    margin-top: 65px;
    margin-bottom: 65px; }
  .mt-md-65 {
    margin-top: 65px; }
  .mb-md-65 {
    margin-bottom: 65px; } }

@media (min-width: 1200px) {
  .ptb-lg-65 {
    padding-top: 65px;
    padding-bottom: 65px; }
  .pt-lg-65 {
    padding-top: 65px; }
  .pb-lg-65 {
    padding-bottom: 65px; }
  .mtb-lg-65 {
    margin-top: 65px;
    margin-bottom: 65px; }
  .mt-lg-65 {
    margin-top: 65px; }
  .mb-lg-65 {
    margin-bottom: 65px; } }

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px; }

.pt-70 {
  padding-top: 70px; }

.pb-70 {
  padding-bottom: 70px; }

.mtb-70 {
  margin-top: 70px;
  margin-bottom: 70px; }

.mt-70 {
  margin-top: 70px; }

.mb-70 {
  margin-bottom: 70px; }

@media (min-width: 768px) {
  .ptb-sm-70 {
    padding-top: 70px;
    padding-bottom: 70px; }
  .pt-sm-70 {
    padding-top: 70px; }
  .pb-sm-70 {
    padding-bottom: 70px; }
  .mtb-sm-70 {
    margin-top: 70px;
    margin-bottom: 70px; }
  .mt-sm-70 {
    margin-top: 70px; }
  .mb-sm-70 {
    margin-bottom: 70px; } }

@media (min-width: 992px) {
  .ptb-md-70 {
    padding-top: 70px;
    padding-bottom: 70px; }
  .pt-md-70 {
    padding-top: 70px; }
  .pb-md-70 {
    padding-bottom: 70px; }
  .mtb-md-70 {
    margin-top: 70px;
    margin-bottom: 70px; }
  .mt-md-70 {
    margin-top: 70px; }
  .mb-md-70 {
    margin-bottom: 70px; } }

@media (min-width: 1200px) {
  .ptb-lg-70 {
    padding-top: 70px;
    padding-bottom: 70px; }
  .pt-lg-70 {
    padding-top: 70px; }
  .pb-lg-70 {
    padding-bottom: 70px; }
  .mtb-lg-70 {
    margin-top: 70px;
    margin-bottom: 70px; }
  .mt-lg-70 {
    margin-top: 70px; }
  .mb-lg-70 {
    margin-bottom: 70px; } }

.ptb-75 {
  padding-top: 75px;
  padding-bottom: 75px; }

.pt-75 {
  padding-top: 75px; }

.pb-75 {
  padding-bottom: 75px; }

.mtb-75 {
  margin-top: 75px;
  margin-bottom: 75px; }

.mt-75 {
  margin-top: 75px; }

.mb-75 {
  margin-bottom: 75px; }

@media (min-width: 768px) {
  .ptb-sm-75 {
    padding-top: 75px;
    padding-bottom: 75px; }
  .pt-sm-75 {
    padding-top: 75px; }
  .pb-sm-75 {
    padding-bottom: 75px; }
  .mtb-sm-75 {
    margin-top: 75px;
    margin-bottom: 75px; }
  .mt-sm-75 {
    margin-top: 75px; }
  .mb-sm-75 {
    margin-bottom: 75px; } }

@media (min-width: 992px) {
  .ptb-md-75 {
    padding-top: 75px;
    padding-bottom: 75px; }
  .pt-md-75 {
    padding-top: 75px; }
  .pb-md-75 {
    padding-bottom: 75px; }
  .mtb-md-75 {
    margin-top: 75px;
    margin-bottom: 75px; }
  .mt-md-75 {
    margin-top: 75px; }
  .mb-md-75 {
    margin-bottom: 75px; } }

@media (min-width: 1200px) {
  .ptb-lg-75 {
    padding-top: 75px;
    padding-bottom: 75px; }
  .pt-lg-75 {
    padding-top: 75px; }
  .pb-lg-75 {
    padding-bottom: 75px; }
  .mtb-lg-75 {
    margin-top: 75px;
    margin-bottom: 75px; }
  .mt-lg-75 {
    margin-top: 75px; }
  .mb-lg-75 {
    margin-bottom: 75px; } }

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.pt-80 {
  padding-top: 80px; }

.pb-80 {
  padding-bottom: 80px; }

.mtb-80 {
  margin-top: 80px;
  margin-bottom: 80px; }

.mt-80 {
  margin-top: 80px; }

.mb-80 {
  margin-bottom: 80px; }

@media (min-width: 768px) {
  .ptb-sm-80 {
    padding-top: 80px;
    padding-bottom: 80px; }
  .pt-sm-80 {
    padding-top: 80px; }
  .pb-sm-80 {
    padding-bottom: 80px; }
  .mtb-sm-80 {
    margin-top: 80px;
    margin-bottom: 80px; }
  .mt-sm-80 {
    margin-top: 80px; }
  .mb-sm-80 {
    margin-bottom: 80px; } }

@media (min-width: 992px) {
  .ptb-md-80 {
    padding-top: 80px;
    padding-bottom: 80px; }
  .pt-md-80 {
    padding-top: 80px; }
  .pb-md-80 {
    padding-bottom: 80px; }
  .mtb-md-80 {
    margin-top: 80px;
    margin-bottom: 80px; }
  .mt-md-80 {
    margin-top: 80px; }
  .mb-md-80 {
    margin-bottom: 80px; } }

@media (min-width: 1200px) {
  .ptb-lg-80 {
    padding-top: 80px;
    padding-bottom: 80px; }
  .pt-lg-80 {
    padding-top: 80px; }
  .pb-lg-80 {
    padding-bottom: 80px; }
  .mtb-lg-80 {
    margin-top: 80px;
    margin-bottom: 80px; }
  .mt-lg-80 {
    margin-top: 80px; }
  .mb-lg-80 {
    margin-bottom: 80px; } }

.ptb-85 {
  padding-top: 85px;
  padding-bottom: 85px; }

.pt-85 {
  padding-top: 85px; }

.pb-85 {
  padding-bottom: 85px; }

.mtb-85 {
  margin-top: 85px;
  margin-bottom: 85px; }

.mt-85 {
  margin-top: 85px; }

.mb-85 {
  margin-bottom: 85px; }

@media (min-width: 768px) {
  .ptb-sm-85 {
    padding-top: 85px;
    padding-bottom: 85px; }
  .pt-sm-85 {
    padding-top: 85px; }
  .pb-sm-85 {
    padding-bottom: 85px; }
  .mtb-sm-85 {
    margin-top: 85px;
    margin-bottom: 85px; }
  .mt-sm-85 {
    margin-top: 85px; }
  .mb-sm-85 {
    margin-bottom: 85px; } }

@media (min-width: 992px) {
  .ptb-md-85 {
    padding-top: 85px;
    padding-bottom: 85px; }
  .pt-md-85 {
    padding-top: 85px; }
  .pb-md-85 {
    padding-bottom: 85px; }
  .mtb-md-85 {
    margin-top: 85px;
    margin-bottom: 85px; }
  .mt-md-85 {
    margin-top: 85px; }
  .mb-md-85 {
    margin-bottom: 85px; } }

@media (min-width: 1200px) {
  .ptb-lg-85 {
    padding-top: 85px;
    padding-bottom: 85px; }
  .pt-lg-85 {
    padding-top: 85px; }
  .pb-lg-85 {
    padding-bottom: 85px; }
  .mtb-lg-85 {
    margin-top: 85px;
    margin-bottom: 85px; }
  .mt-lg-85 {
    margin-top: 85px; }
  .mb-lg-85 {
    margin-bottom: 85px; } }

.ptb-90 {
  padding-top: 90px;
  padding-bottom: 90px; }

.pt-90 {
  padding-top: 90px; }

.pb-90 {
  padding-bottom: 90px; }

.mtb-90 {
  margin-top: 90px;
  margin-bottom: 90px; }

.mt-90 {
  margin-top: 90px; }

.mb-90 {
  margin-bottom: 90px; }

@media (min-width: 768px) {
  .ptb-sm-90 {
    padding-top: 90px;
    padding-bottom: 90px; }
  .pt-sm-90 {
    padding-top: 90px; }
  .pb-sm-90 {
    padding-bottom: 90px; }
  .mtb-sm-90 {
    margin-top: 90px;
    margin-bottom: 90px; }
  .mt-sm-90 {
    margin-top: 90px; }
  .mb-sm-90 {
    margin-bottom: 90px; } }

@media (min-width: 992px) {
  .ptb-md-90 {
    padding-top: 90px;
    padding-bottom: 90px; }
  .pt-md-90 {
    padding-top: 90px; }
  .pb-md-90 {
    padding-bottom: 90px; }
  .mtb-md-90 {
    margin-top: 90px;
    margin-bottom: 90px; }
  .mt-md-90 {
    margin-top: 90px; }
  .mb-md-90 {
    margin-bottom: 90px; } }

@media (min-width: 1200px) {
  .ptb-lg-90 {
    padding-top: 90px;
    padding-bottom: 90px; }
  .pt-lg-90 {
    padding-top: 90px; }
  .pb-lg-90 {
    padding-bottom: 90px; }
  .mtb-lg-90 {
    margin-top: 90px;
    margin-bottom: 90px; }
  .mt-lg-90 {
    margin-top: 90px; }
  .mb-lg-90 {
    margin-bottom: 90px; } }

.ptb-95 {
  padding-top: 95px;
  padding-bottom: 95px; }

.pt-95 {
  padding-top: 95px; }

.pb-95 {
  padding-bottom: 95px; }

.mtb-95 {
  margin-top: 95px;
  margin-bottom: 95px; }

.mt-95 {
  margin-top: 95px; }

.mb-95 {
  margin-bottom: 95px; }

@media (min-width: 768px) {
  .ptb-sm-95 {
    padding-top: 95px;
    padding-bottom: 95px; }
  .pt-sm-95 {
    padding-top: 95px; }
  .pb-sm-95 {
    padding-bottom: 95px; }
  .mtb-sm-95 {
    margin-top: 95px;
    margin-bottom: 95px; }
  .mt-sm-95 {
    margin-top: 95px; }
  .mb-sm-95 {
    margin-bottom: 95px; } }

@media (min-width: 992px) {
  .ptb-md-95 {
    padding-top: 95px;
    padding-bottom: 95px; }
  .pt-md-95 {
    padding-top: 95px; }
  .pb-md-95 {
    padding-bottom: 95px; }
  .mtb-md-95 {
    margin-top: 95px;
    margin-bottom: 95px; }
  .mt-md-95 {
    margin-top: 95px; }
  .mb-md-95 {
    margin-bottom: 95px; } }

@media (min-width: 1200px) {
  .ptb-lg-95 {
    padding-top: 95px;
    padding-bottom: 95px; }
  .pt-lg-95 {
    padding-top: 95px; }
  .pb-lg-95 {
    padding-bottom: 95px; }
  .mtb-lg-95 {
    margin-top: 95px;
    margin-bottom: 95px; }
  .mt-lg-95 {
    margin-top: 95px; }
  .mb-lg-95 {
    margin-bottom: 95px; } }

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px; }

.pt-100 {
  padding-top: 100px; }

.pb-100 {
  padding-bottom: 100px; }

.mtb-100 {
  margin-top: 100px;
  margin-bottom: 100px; }

.mt-100 {
  margin-top: 100px; }

.mb-100 {
  margin-bottom: 100px; }

@media (min-width: 768px) {
  .ptb-sm-100 {
    padding-top: 100px;
    padding-bottom: 100px; }
  .pt-sm-100 {
    padding-top: 100px; }
  .pb-sm-100 {
    padding-bottom: 100px; }
  .mtb-sm-100 {
    margin-top: 100px;
    margin-bottom: 100px; }
  .mt-sm-100 {
    margin-top: 100px; }
  .mb-sm-100 {
    margin-bottom: 100px; } }

@media (min-width: 992px) {
  .ptb-md-100 {
    padding-top: 100px;
    padding-bottom: 100px; }
  .pt-md-100 {
    padding-top: 100px; }
  .pb-md-100 {
    padding-bottom: 100px; }
  .mtb-md-100 {
    margin-top: 100px;
    margin-bottom: 100px; }
  .mt-md-100 {
    margin-top: 100px; }
  .mb-md-100 {
    margin-bottom: 100px; } }

@media (min-width: 1200px) {
  .ptb-lg-100 {
    padding-top: 100px;
    padding-bottom: 100px; }
  .pt-lg-100 {
    padding-top: 100px; }
  .pb-lg-100 {
    padding-bottom: 100px; }
  .mtb-lg-100 {
    margin-top: 100px;
    margin-bottom: 100px; }
  .mt-lg-100 {
    margin-top: 100px; }
  .mb-lg-100 {
    margin-bottom: 100px; } }

/**
 * Full height container
 */
.full-height {
  height: 100vh;
  border-bottom: 1px solid grey; }
  .full-height .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.no-mt {
  margin-top: 0; }

.no-mb {
  margin-bottom: 0; }

.no-float {
  float: none; }

.plain-list {
  padding: 0;
  margin: 0; }
  .plain-list li {
    list-style: none; }

* {
  outline: 0 !important;
  box-sizing: border-box; }

.vertical-align .row {
  font-size: 0; }

.vertical-align .center-vertically {
  float: none;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle; }

img {
  display: block;
  max-width: 100%; }

.bg-offwhite {
  background: #f6f5ef; }

.bg-grey3 {
  background: #cccccc; }

.bg-grey4 {
  background: #333333; }

.bg-grey5 {
  background: #262626; }

.bg-black {
  background: black; }

/* Common Elements */
header {
  background: #f6f5ef; }

.nav-btn {
  width: 30px;
  height: 25px;
  position: relative;
  margin-right: 15px;
  margin-top: 10px; }
  .nav-btn span {
    width: 100%;
    height: 3px;
    background: black;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .nav-btn span:first-child {
      top: 0;
      margin-top: 0; }
    .nav-btn span:last-child {
      top: inherit;
      bottom: 0;
      margin-top: 0; }
  .nav-btn[data-open="true"] span {
    opacity: 0;
    left: 20px; }
    .nav-btn[data-open="true"] span:first-child {
      opacity: 1;
      top: 11px;
      left: 0;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform-origin: none;
      -webkit-transform-origin: none;
      -moz-transform-origin: none;
      -ms-transform-origin: none; }
    .nav-btn[data-open="true"] span:last-child {
      opacity: 1;
      bottom: 11px;
      left: 0;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform-origin: none;
      -webkit-transform-origin: none;
      -moz-transform-origin: none;
      -ms-transform-origin: none; }
  .nav-btn[data-open="true"] + nav {
    display: block !important;
    margin-top: 50px; }
    .nav-btn[data-open="true"] + nav .nav-list li {
      text-align: center;
      display: block; }

nav .nav-list {
  display: block;
  padding: 0;
  margin: 0; }
  nav .nav-list li {
    display: inline-block;
    width: auto; }
    nav .nav-list li a {
      display: block;
      padding: 10px; }

.page-banner {
  position: relative;
  height: 600px;
  background: #262626; }
  .page-banner .header-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .page-banner .header-content .center-block {
      padding: 40px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform-origin: none;
      -webkit-transform-origin: none;
      -moz-transform-origin: none;
      -ms-transform-origin: none; }

footer ul li a {
  color: #f6f5ef !important; }

.product .product-wrap {
  position: relative; }
  .product .product-wrap .product-desc .btn {
    margin: 5px;
    display: inline-block; }

.text-image-block .image img {
  width: 100%; }

@media screen and (min-width: 768px) {
  .text-image-block .text {
    padding: 40px; } }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; }

.social-buttons li {
  display: inline-block;
  margin-left: 10px; }
  .social-buttons li a.social-button {
    width: 35px;
    height: 30px;
    display: block; }
