{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "syntax-async-functions",
    "transform-regenerator"
  ],
  "sourceMaps": "both",
  "env": {
    "production": {
      "sourceMaps": false,
      "comments": false
    }
  }
}
